*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}
/* -------------------------------------------------- */
.container-fluid {
   height: 100vh;
   background-color: #B91350;
}

/* Inizio Main */
h1 {
   color: white;
   text-align: center;
}

.box1 {
   height: 280px;
   border-radius: 20px;
}

.box2 {
   height: 250px;
}

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
